.logo{
    display: block;
    margin: auto;
    width: 120px;
    height: 100px;
    transition: all 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

h1 {
    margin-top: 12px;
    font-size: 28px;
    font-family: inherit;
    text-align: center;
    opacity: 0;
}

.pop {
    opacity: 1;
    animation: pop-up 1.5s ease-in-out;
}

@keyframes pop-up {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}


.container {
    max-width: 1000px;
    border: 2px solid dodgerblue;
    border-radius: 13px;
    margin: auto;
    height: 65vh;
    padding: 30px;
    overflow-y: auto;
    background-image: url("/neo.png");
    background-size: cover;
    background-position: center center;
    margin-top: auto; /* add this line */
 }



.message{
    background-image: radial-gradient(rgb(255, 255, 255), rgb(11 186 78 / 56%));
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    

}
.message:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}


.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
#send-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    max-width: 1085px;
    width: 100%;
}
#messageInp{
    width: 87%;
    border: 2ps solid black;
    border-radius: 6px;
    height: 34px;
    font-size: 18px;
    font-family: cursive;
    background-color: powderblue;
}

.btn{
    width: 9%;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    margin: 0 6px;
    background-image: linear-gradient(rgb(253 11 11 / 82%), rgb(19, 128, 206));
    font-family: cursive;
    font-size: large;
    transition: all 0.3s ease-in-out;

}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

body{
    height: 100vh;
    background-image: linear-gradient(rgb(255, 255, 255), #187fe3);
}

footer {
    background-image: radial-gradient(rgb(60 176 240 / 83%), rgb(255 255 255 / 56%));
    color: #171616;
    padding: 10px;
    /* position: fixed; remove this line */
    left: 1;
    bottom: 0;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
    }

